body {
    background-color: #b7e4c7;
    color: #5e5343;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #5e5343;
    padding: 15px;
    text-align: right;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #efe9e4;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 50px;
    text-align: center;
    font-family: "DM Serif Text", serif;
}

.header .text {
    flex: 1;
    text-align: left;
    padding-left: 10%;
}

.header h1 {
    font-size: 90px;
}

.section h2 {
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-size: 90px;
}

#about,#contact {
    background-color: #f6e5d9;
}

#about p, #skills li, #contact p {
    font-size: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 30px;
}

.header .btn {
    display: inline-block;
    background-color: #5e5343;
    color: #efe9e4;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.header .btn:hover {
    background-color: #7f5539;
}

.header .image {
    flex: 1;
    text-align: right;
    padding-right: 10%;
}

.header .image img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
}

.section {
    margin: 50px 0;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .header .text, .header .image {
        text-align: center;
        padding: 0;
    }
}

.skills-list {
    list-style-position: inside;
    padding-left: 10px;
}

.credential-button, .linkedin-button {
    display: inline-block;
    background-color: #5e5343;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.credential-button:hover, .linkedin-button:hover {
    background-color: #7f5539;
}
